@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataModels.GetInTouch1
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<body style="background-color:beige;">
    <fieldset>
        @using (Html.BeginForm())
        {
            <table width="20%">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email)
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Contact)
                        @Html.EditorFor(model => model.Contact)
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Message)
                        @Html.EditorFor(model => model.Message)
                    </th>
                </tr>
                <tr>
                    <th>
                        <button type="submit"> Contact Us</button>
                    </th>
                </tr>
            </table>
        }

    </fieldset>
</body>
@if (Model != null)
{
    <p>Message sent by:<u><b>@Model.Name</b></u> using Email:<u><b>@Model.Email</b></u> and Contact Number:<u><b>@Model.Contact</b></u></p>
    <p>Message :@Model.Message at @Model.DateCreated</p>
}
